<!DOCTYPE html>
<html>
  <head>
    <title>UsernameGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'Index' %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="7uLlhGjn"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <%= yield %>    
    <script src="https://kit.fontawesome.com/816ab3afbd.js" crossorigin="anonymous"></script>

  </body>
</html>
